/* $fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:200,400,500,700,900);
/* Space out content a bit */
body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1.5rem; }

.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem; }

.jumbotron {
  font-weight: 500; }
  .jumbotron p {
    margin-left: 32px; }
  .jumbotron .fill {
    --color: #c26eef; }
  .jumbotron a {
    color: var(--color); }
    .jumbotron a:hover, .jumbotron a:focus {
      text-decoration: none; }
  .jumbotron a {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin-top: 8px;
    padding: 1em 2em;
    display: inline-block;
    text-transform: uppercase; }

/* Custom page footer */
.footer {
  margin-top: 40px;
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.01rem solid #A1A7AA;
  font-size: 11px; }

.navbar {
  background-color: #222; }
  .navbar img {
    margin: auto;
    padding: 0;
    width: 50px; }

.addItems {
  background-color: #F4F4F4;
  padding: 20px; }

/* Resonpsive Stuff Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem; } }

.container-narrow > hr {
  margin: 2rem 0; }

.jumbotron {
  text-align: center;
  background-color: #222;
  color: #FFFFFF; }
  .jumbotron .logo {
    width: 80%;
    margin-bottom: 20px; }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem; }

/* Supporting marketing content */
.marketing {
  margin: 3rem 0; }
  .marketing p + h4 {
    margin-top: 1.5rem; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
