/* $fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:200,400,500,700,900);
/* Space out content a bit */
html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.bg-gray {
  background-color: #F4F4F4; }

.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem; }

.jumbotron {
  margin-top: 30px;
  font-weight: 500; }
  .jumbotron p {
    margin-left: 32px; }
  .jumbotron .fill {
    --color: #c26eef; }
  .jumbotron a {
    color: var(--color); }
    .jumbotron a:hover, .jumbotron a:focus {
      text-decoration: none; }
  .jumbotron a {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin-top: 8px;
    padding: 1em 2em;
    display: inline-block;
    text-transform: uppercase; }

/* Custom page footer */
.footer {
  width: 100%;
  margin-left: -15px;
  position: fixed;
  bottom: 0;
  margin-top: 0;
  padding-top: 1.5rem;
  color: #A1A7AA;
  background-color: #222;
  font-size: 11px;
  height: 70px; }
  .footer p {
    margin: 0 0 0 10px; }
  .footer .clrBtnWrapper {
    display: inline-block;
    margin-top: -8px;
    margin-right: 20px;
    text-align: center; }
    .footer .clrBtnWrapper .btn {
      cursor: pointer; }

.navbar {
  background-color: #222; }
  .navbar img {
    margin: auto;
    padding: 0;
    width: 40px; }

.addItems {
  background-color: #F4F4F4;
  padding: 20px; }
  .addItems form input {
    border: 1px solid #A1A7AA;
    height: 45px;
    padding: 5px 10px;
    width: 60%; }
    .addItems form input:focus {
      outline: none; }
  .addItems form .fill {
    --color: #c26eef; }
  .addItems form button {
    outline: none;
    cursor: pointer;
    color: var(--color); }
    .addItems form button:hover, .addItems form button:focus {
      text-decoration: none; }
  .addItems form button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin-left: 10px;
    padding: 12px 13px;
    display: inline-block;
    text-transform: uppercase; }

/* Resonpsive Stuff Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 60rem; } }

.container-narrow > hr {
  margin: 2rem 0; }

.jumbotron {
  text-align: center;
  background-color: #222;
  color: #FFFFFF; }
  .jumbotron .logo {
    width: 80%;
    margin-bottom: 20px; }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem; }

/* Supporting marketing content */
.marketing {
  margin: 3rem 0; }
  .marketing p + h4 {
    margin-top: 1.5rem; }

/* Items count */
.itemsCount {
  border-bottom: 1px solid #CCC;
  padding: 4px 0;
  font-size: 14px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding: 20px; } }
