// fonts
/* $fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:200,400,500,700,900);

//Color mixins
$white: #FFFFFF;
$charcoal: #222;
$light-gray: #A1A7AA;

/* Space out content a bit */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

//Jumbotron
.jumbotron {
  font-weight: 500;

  p {
    margin-left: 32px;
  }

  // Animate the size, inside
  .fill:hover,
  .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }

  $colors: (
    fill: #A762CC,
  );


  @each $button, $color in $colors {
    .#{$button} {
      --color: $color;
      --hover: adjust-hue($color, 10deg);
    }
  }

  a {  
    color: var(--color);
    transition: 0.35s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: $white;
      text-decoration: none;
    }
  }

  // Basic button styles
  a {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin-top:8px;
    padding: 1em 2em;
    display: inline-block;
  }
}



/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid $light-gray;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.jumbotron {
  text-align: center;
  background-color: $charcoal;
  color: $white;

  .logo {
    width: 80%;
    margin-bottom: 20px;
  }

  .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;

  p + h4 {
    margin-top: 1.5rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}








