 <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                  <footer class="footer">
                    <p ng-hide="showCopyRight">&copy;2017. A William Ferrufino Production. </p>
                    <div class="clrBtnWrapper" ng-show="flag">
                    	<button ng-hide="hideClearBtn" class="btn btn-large btn-danger pull-right" ng-click="clearBought()">
                    		Remove Items
                    	</button>
                    </div>       
                  </footer>
            </div>
        </div>
</div>

