<div ng-include="'templates/navigation.html'"></div>

<div ng-controller="ShopCtrl">

	<!-- Add Item Form -->
	<div class="container-fluid bg-gray">
		<div class="container addItems">
			<div class="row">
		        <div class="col-md-12">
		    	   <form class="form-horizontal" ng-submit="addItem()">
				      <input type="text" ng-model="itemEntry" placeholder="Type and hit Enter to add item">
				      <button>Add Item</button>
				    </form>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Number of Items section -->
	<div class="container-fluid" style="border-bottom: 1px solid #CCC;">
		<div class="container">
			<div class="row">
		        <div class="col-md-12">
		    	   <div class="pull-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{items.length}} Items</div>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Items List-->
	<div class="container">
		<div class="row">
	        <div class="col-md-12">
	    		 <ul class="unstyled">
			      <li ng-repeat="item in items">
			        <input type="checkbox" id="item-{{item.id}}" ng-model="item.bought">
			        <label for="item-{{item.id}}" class="{{isBought(item.bought)}}">{{item.text}}<span></span></label>
			      </li>
			    </ul>
	        </div>
	    </div>
	</div>
	
</div>