<div ng-include="'templates/navigation.html'"></div>

<div ng-controller="ShopCtrl">

	<!-- Add Item Form -->
	<div class="container-fluid bg-gray">
		<div class="container addItems">
			<div class="row">
		        <div class="col-md-12">
		    	   <form name="form" class="form-horizontal" ng-submit="addItem()">
		    	   	  <input type="text" ng-model="itemEntry" placeholder="Enter Item" required>
				      	<button class="fill">Add Item</button>
				       <!-- <span ng-show="form.itemEntry.$error.required">Please enter something!</span>  -->
				    </form>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Number of Items section -->
	<div class="container-fluid itemsCount">
		<div class="container">
			<div class="row">
		        <div class="col-md-12">
		    	   <div class="pull-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{items.length}} Items</div>
		        </div>
		    </div>
		</div>
	</div>

	<!-- Items List-->
	<div class="container list">
		<div class="row">
	        <div class="col-md-12">
	    		 <ul class="unstyled">
			      <li class="listItem" ng-repeat="item in items">
			        <input type="checkbox" id="item-{{item.id}}" ng-model="item.bought" class="checkbox-custom">
			        <label for="item-{{item.id}}" class="checkbox-custom-label {{isBought(item.bought)}}">{{item.text}}<span></span></label>
			      </li>
			    </ul>
	        </div>
	    </div>
	</div>

<div ng-include="'templates/footer.html'"></div>
</div>